################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Xamarin2022/v17
/.vs
/App4/.vs/App4
/App4/App4/App4/bin/Debug/netstandard2.0
/App4/App4/App4/obj
/App4/App4/App4.Android/bin/Debug
/App4/App4/App4.Android/obj
/App4/App4/App4.UWP/bin/x86/Debug
/App4/App4/App4.UWP/obj
/SqliteApp/.vs/SqliteApp/v17
/SqliteApp/SqliteApp/SqliteApp/bin/Debug/netstandard2.0
/SqliteApp/SqliteApp/SqliteApp/obj
/SqliteApp/SqliteApp/SqliteApp.Android/bin/Debug
/SqliteApp/SqliteApp/SqliteApp.Android/obj
/SqliteApp/SqliteApp/SqliteApp.UWP/bin
/SqliteApp/SqliteApp/SqliteApp.UWP/obj
